# 변수, 자료형, 연산자



---


## 변수(Variables)

어떠한 값을 저장하는 공간(메모리)<br>
일반적으로 데이터의 저장 위치와 데이터 값으로 구분<br>
변수에 값을 넣는 순간 메모리 저장 위치를 할당하고 그 위치는 메모리 주소로 관리

실제 변수에 대해서 실습하기 위해 그림과 같이 변수 name에 문자열 "Suan"을 넣고, 변수 num에 값 123을 넣기

In [1]:
#변수의 이름 name, 그 값인 Suan을 넣어줌
name='Suan'
print(name)  # 실제 값이 아니라 ''변수''를 사용하려고 변수를 쓰는것임!!

Suan

In [2]:
num=123
print(num)  #숫자값은 따옴표 안써두됨

123

### 변수명 규칙

* 알파벳, 숫자, 언더스코어로 선언가능
* 의미있는 단어로 표기하는 것이 좋다(다른사람들의 가독성을 위해!)
* 대소문자 구분해야함!! 중간에 대소문자 바꾸는것도 다 다른변수 취급됨.
* 특별한 의미가 있는 예약어는 사용못함 and, exec, not, break, for 등등..

In [3]:
abc = "abc"
abc_123 = 123
Abc_123 = 123
print(abc)
print(abc_123)
print(Abc_123)  #다 다른 변수임

abc
123
123



---

## 자료형(Data Types)

* 파이썬의 자료형은 유형에 따라 논리형, 수치형, 문자형, 구조형으로 구분...
* 일반적으로 숫자와 문자, 그리고 구조에 따른 저장을 위해서 여러가지 구분된 자료형을 제공

논리형: 불리언, 참 또는 거짓<br>

수치형: 정수, 자연수 포함 값의 영역이 정수로 한정된 값<br>
2진수, 바이너리 타입, 숫자가 0b, 0B로 시작<br>
8진수, 옥탈 타입, 0o, 0O로 시작<br>
16진수(헥사디시멀), 0x로 시작<br>
실수, 플로팅 포인트, 소수점 포함된 값<br>
복소수, 컴플렉스 타입<br>

문자형: 문자열, 스트링 타입<br>

시퀀스형: 자료의 구조가 있는 것임. 리스트 튜플 범위<br>
리스트: 여러 요소를 묶어 하나의 변수로 사용<br>
튜플: 리스트와 유사하게 여러요소를 묶지만, but 수정이 안됨. 생성삭제수정X<br>

범위: 레인지 타입, 숫자가 불변한 형태의 시퀀스<br>
집합형: 셋타입, 중복과 순서가 없는 집합을 위한 자료형<br>
불변집합: 불변한 집한을 위한 자료형<br>

매핑형: 딕셔너리, 키와 값

### 불리언형 자료형(Boolean Type)

* 불리언은 `True`와 `False` 값으로만 표현할 때 사용하는 자료형
* 예제 코드에서 변수 `b`에 `True` 값을 넣으면 불리언 자료형으로 결정
* 자료형을 반환하는 내장함수 `type()` 함수를 이용하여 자료형을 확인하면 `bool`로 반환된 결과를 볼 수 있음

In [6]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

### 정수형 자료형(Integer Type)

#### 10진수(Decimal) 

* 10진수는 일반적인 숫자 표현을 그대로 사용
* 변수 `i`에 10진수로 숫자 10을 값으로 넣고, `type()` 함수를 통해 자료형을 확인하기

In [7]:
i = 10
print(i)
print(type(i))

10
<class 'int'>

#### 2진수(Binary)

* 2진수는 앞에 `0b`를 붙여서 표현
* 변수 `b`에 2진수 표현으로 `0b010`을 넣고, `type()` 함수를 통해 자료형을 확인하기

In [9]:
b=0b010 #10진수로 바꾸면 2임
print(b)
print(type(b))

2
<class 'int'>

#### 8진수(Octal)

* 8진수는 앞에 `0o`를 붙여서 표현
* 변수 `o`에 8진수 표현으로 `0o130`을 넣고 확인하기

In [10]:
o = 0o130
print(o)
print(type(o))

88
<class 'int'>

#### 16진수(Hexadecimal)

* 16진수은 앞에 `0x`를 붙여서 표현
* 변수 `h`에 16진수 표현으로 `0xABC`를 넣고 확인하기
* 16진수는 10진수와 달리 10부터 A에서 F까지 알파벳을 사용하여 표현

In [11]:
h = 0xABC
print(h)
print(type(h))

2748
<class 'int'>

### 실수형 자료형(Floating-Point Type)

* 실수형 자료형 표현은 고정소수점과 부동소수점으로 구분

#### 고정소수점(Fixed-Point)

* 기본적으로 고정된 자리수의 소수를 사용하는 고정소수점 방식
* 실수형 변수 `f`에 소수점이 포함된 `12.34` 값을 넣고 확인하기
* `type(f)`를 통해서 결과를 확인해보면 실수형(float) 자료형으로 출력
* 파이썬에서는 소수에서 정수부가 0인 경우에는 제외해서 표현 가능
* 코드에서 값 `.123`은 `0.123`을 의미

In [13]:
f = 12.34
print(f)
print(type(f)) #플로팅 포인트 타입(실수형 자료형)이라서 클래스가 float이라고 출력됨.

12.34
<class 'float'>

In [15]:
f = .123  # 0을 제외해도 그냥 실수라고 인식함
print(f)

0.123

#### 부동소수점(Floating-Point)

* 컴퓨터에서 소수점의 위치가 고정되지 않고 넓은 범위의 값을 근사하여 표현하는 부동소수점 방식이 있음
* 부동소수점에 대한 개념을 모르는 경우에는 [링크](https://ko.wikipedia.org/wiki/%EB%B6%80%EB%8F%99%EC%86%8C%EC%88%98%EC%A0%90)를 참고
* 파이썬에서는 e 기호를 이용하여 지수에 대한 표현을 사용
* `e` 변수에 할당한 `1234e-2` 라는 표현은 $1234 \times 10^{-2}$를 의미하고 실제 결과 값은 12.34
* `type(e)` 함수를 통해 타입을 확인해보면 실수형
* 마찬가지로 `123e-3`은 $123 \times 10^{-3}$를 의미하며 결과는 0.123

In [17]:
e = 1234e-2
print(e)
print(type(e))

12.34
<class 'float'>

In [18]:
e = 123e-3
print(e)
print(type(e))

0.123
<class 'float'>

###복소수형 자료형(Complex Type)

* 복소수(complex number)는 임의의 실수 $a$, $b$에 대해 $a + bi$의 꼴로 나타내는 수를 의미
* 여기서 $a$는 실수, $b$는 허수 부분
* i는 제곱하여 -1이 되는 수로 허수(imaginary number) 단위라고 함
* 복소수에 대한 개념을 모르는 경우에는 [링크](https://ko.wikipedia.org/wiki/%EB%B3%B5%EC%86%8C%EC%88%98) 참고
* 파이썬에서는 i 대신에 j 또는 J로 표현
* $1 + 23j$와 같이 복소수로 표현하기
* `print()` 함수를 이용해 출력한 결과 `(1+23j)`
* 실수부는 `c.real`로 허수부는 `c.imag`로 출력
* 복소수의 경우에는 `type()` 함수로 타입을 살펴보면 결과는 'complex'

In [21]:
c = 1+23j #컴플렉스-복소수형 정의하는 거다~
print(c)
print(type(c))
print(c.imag)
print(type(c))

(1+23j)
<class 'complex'>
23.0
<class 'complex'>

### 문자열 자료형(String Type)

* 문자열(string)은 문자들의 집합을 의미
* 문자열을 저장하는 변수를 문자열 변수라고 함

In [23]:
string = "Suan" #더블쿼테이션, 쌍따옴표!! 싱글도 됨! 이렇게 해야 문자열이라는 의미!
print(type(string))

<class 'str'>

### 리스트 자료형(List Type)

* 리스트(list)는 여러 값을 하나의 변수에 담을 수 있는 자료형
* 대괄호 안에 여러 값을 쉽표를 구분자로 표현하여 리스트 변수 생성
* 간단하게 리스트 생성과 출력을 위해 변수 `l` 안에 값 1, 2, 3을 넣어보자
* 자료형을 출력해보면 'list'라는 결과 값을 가지는 것을 알 수 있음

In [25]:
l = [1, 2, 3]
print(l)
print(type(l))

[1, 2, 3]
<class 'list'>

* 리스트 자료형은 같은 자료형이 아니라 다른 자료형을 가지는 값들도 포함하여 구성 가능
* 숫자와 문자열이 포함된 리스트 변수 사용하기

In [29]:
l = [1, "One", 2, "Two", 3, "Three"] #서로 다른 자료형이 섞여있음. 숫자, 문자 숫자 문자 등 
print(l)
print(type(l)) #그래도 리스트로 타입이 나온다

[1, 'One', 2, 'Two', 3, 'Three']
<class 'list'>

### 튜플 자료형(Tuple Type)

* 튜플 자료형은 리스트 자료형과 유사하지만 생성, 삭제, 수정이 불가
* 튜플은 괄호 안에 여러 값을 쉼표로 구분하여 사용
* 변수 `t` 안에 값 1, 2, 3을 저장하고, 변수와 변수의 타입을 출력하기

In [30]:
t = (1, 2, 3) # 튜플은 그냥 괄호! 아님 소괄호!!!
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

### 범위 자료형(Range Type)

* 불변한 숫자 시퀀스 자료형

In [32]:
r = range(10) # 0부터 10까지 레인지를 받는다는 뜻.. 반복문에 자주 씀
print(r)
print(type(r))

range(0, 10)
<class 'range'>

### 집합 자료형(Set Type)

* 집합 자료형은 중복과 순서가 없다는 특징을 가지며 집합 처리를 쉽게할 수 있음
* 집합은 중괄호를 이용해서 값을 쉼표로 구분하여 넣음
* 변수 `s` 안에 값 2, 3, 1을 넣고 변수 `s`의 값과 타입을 출력한 예제
* 변경 불가능한 집합 자료형으로 fronzenset이 있음

In [35]:
s = {2, 3, 1} #순서를 뒤죽박죽 넣었는데 프린트는 순서대로 뜸. 순서가 노상관이라는 뜻!
print(s)
print(type(s))

fs = frozenset(s)
print(fs)
print(type(fs))

{1, 2, 3}
<class 'set'>
frozenset({1, 2, 3})
<class 'frozenset'>

### 딕셔너리 자료형(Dictionary Type)

* 딕셔너리 자료형은 다른 자료형과 달리 키(key)와 값(value)를 한 쌍으로 갖는 자료형
* 변수 `d`에 키와 값을 구분자 `:`를 이용해서 쌍으로 묶어서 `1: 'One', 2: 'Two'` 형태로 넣을 수 있음

In [36]:
d = {1:'One', 2:'Two'}
print(d)
print(type(d))

{1: 'One', 2: 'Two'}
<class 'dict'>

### 바이트 시퀀스형(Byte Sequence Type)

* 바이트 자료형은 1바이트 단위의 값을 연속적으로 저장하는 시퀀스 자료형
* 1바이트는 8비트에 해당하며, 정수값 0 ~ 255(0x00~0xFF) 사용
* 이진 데이터로 사용되어지거나 1바이트 문자로 고정을 위해 사용
* 유니코드가 아닌 문자열을 사용하는 것과 유사
* 바이트 자료형의 시퀀스 형태로 `bytearray` 자료형 사용
* 바이트 자료형의 메모리 값의 표현으로 `memoryview` 자료형 사용

In [41]:
byte = b'\x00'
print(byte)
print(type(byte))

byte = b"Hello"
print(byte)
print(type(byte))

ba = bytearray(byte)
print(ba)
print(type(ba))

mv = memoryview(ba)
print(mv)
print(type(mv))

b'\x00'
<class 'bytes'>
b'Hello'
<class 'bytes'>
bytearray(b'Hello')
<class 'bytearray'>
<memory at 0x7fce5b903530>
<class 'memoryview'>



---

## 자료형 변환

* bool([x]) x를 불리언형으로 변환
* int(x[,base]) x를 정수로 변환 x가 문자열일 경우 base를 써줘야함-10진수라면 10진수 로 명시를 해줘야함
* float(x) x를 실수형으로 전환
* complex(real, [,img]) 복소수 생성
* str(x) x를 문자열로 변환
* repr(x) x를 표현식(representation) 문자열로 변환
* eval(str) 문자열을 평가하고 남은결과 객체반환


* tuple(s) s를 튜플로
* list(s) s를 리스트로
* set(s) s를 집합으로
* dict(d) 딕셔너리 생성, d는 키값- 튜플의 시퀀스여야함
* frozenset(s) s를 고정집합으로


* chr(x) 정수를 문자로 character
* ord(x) 단일 문자를 정수값으로
* bin(x) 정수를 2진수 문자열로
* oct(x) 정수를 8진수 문자열로
* hex(x) 정수를 16진수 문자열로
* bytes(x) 자료형을 바이트형으로
* bytearray(x) 자료형을 변경가능한 바이트형으로
* memoryview(x) 바이트 자료형을 메모리의 이진 데이터로

#### bool()

* `bool()` 함수는 다양한 자료형을 불리언형으로 변환
* `0`이나 `False` 값이 아닌 경우는 모두 True로 변환

In [2]:
print(bool(True))
print(bool(False))
print(bool(10))
print(bool(0b010))
print(bool(0o130))
print(bool(0xABC))
print(bool(12.34))
print(bool(1234e-2))
print(bool('10'))
#False와 0 빼고 나머지는 다 True로 반환해줌

True
False
True
True
True
True
True
True
True

### int() - 정수형(소수점 이하 다 버린다)

* `int()` 함수는 다양한 자료형을 **정수형**으로 변환
* 복소수형은 정수로 `int()` 함수를 통해 변환이 되지 않음
* 불리언 형은 값으로 `True`와 `False`만 가지고 `int()` 함수를 통해 정수로 변환되면 `True`는 1로 `False`는 0으로 변환
* 정수값 10과 2진수 `0b010`, 8진수 `0o130`, 16진수 `0xABC`는 모두 같은 정수형이라서 그대로 값을 유지하고, 10진수 형태로 변환되어 출력
* 실수형을 정수형으로 변환하는 경우에는 고정소수점이든 부동소수점이든지 소수점 이하를 제외하고 변환, 예를 들어, 12.34는 12로 소수점을 제외하고 변환
* 문자형은 기본적으로는 문자열을 10진수 변환, 예를 들어, `int('10')`은 기본 10진수로 문자열 '10'을 정수형 10으로 변환
* 2진수, 8진수, 16진수 등의 다른 진수로 된 문자열일 경우에는 몇 진수에 해당되는지를 입력해주면 그에 맞추어 변환
* `int('010', 2)`와 같이 문자열 '010'을 2진수라고 알려주고 변환하기 위해서 2라고 입력하고, 8진수과 16진수도 마찬가지

In [3]:
print(int(True))
print(int(False))
print(int(10))
print(int(0b010))
print(int(0o130))
print(int(0xABC))
print(int(12.34))
print(int(1234e-2))
print(int('10'))
print(int('010', 2)) # 2진수 하려면 2라고 표시해줘야함
print(int('130', 8))
print(int('ABC', 16))

1
0
10
2
88
2748
12
12
10
2
88
2748

### float() - 실수형(소수점 포함)으로 변환해줌

* `float()` 함수는 자료형을 **실수형**으로 변환
* 복소수형은 변환이 되지 않고, 문자열 형태의 2진수, 8진수, 16진수도 변환이 되지 않음
* `int()` 함수를 사용한 결과와 유사하지만, **소수점 이하 값이 포함**
* 만약 소수점 이하 값이 없다면 .0으로 변환되고, 소수점 이하 값이 있는 실수형은 동일한 값으로 변환

In [5]:
print(float(True))
print(float(False))
print(float(10))
print(float(0b010))
print(float(0o130))
print(float(0xABC))
print(float(12.34))
print(float(1234e-2))
print(float('10'))

1.0
0.0
10.0
2.0
88.0
2748.0
12.34
12.34
10.0

### complex()

* `complex()` 함수는 자료형을 **복소수형**으로 변환
* 불리언형, 정수형, 실수형, 복소수형, 문자형 모두 복소수형으로 변환 가능
* 허수가 있는 복소수형을 제외하고 다른 자료형은 허수 부분이 없어서 `Oj`로 변환

In [8]:
print(complex(True))
print(complex(False)) #값이 0이라서 그냥 0j로 뜸
print(complex(10))
print(complex(0b010))
print(complex(0o130))
print(complex(0xABC))
print(complex(12.34))
print(complex(1234e-2))
print(complex(1+23j))
print(complex('10'))

(1+0j)
0j
(10+0j)
(2+0j)
(88+0j)
(2748+0j)
(12.34+0j)
(12.34+0j)
(1+23j)
(10+0j)

### str()

* `str()` 함수는 파이썬의 모든 자료형을 문자열로 변환
* 자료형의 값을 그대로 문자열 형태로 변환

str() repr()의 비교
* str() 함수와 유사하게 repr() 함수 존재
* str 함수는 내부적으로 __str__ 메소드를 호출
*  __str__ 비공식적 문자열 출력에 사용, 사용자가 보기 쉬운 형태로 보여줄때 씀<br>
 repe() 함수는 내부적으로 __repr__ 메소드 호출<br> 
  __repr__은 공식적인 문자열을 출력할때 사용되며, 주로 해당 객체를 인식할 수 있는 공식적인 문자열을 나타낼 때 사용

In [9]:
print(str(True))
print(str(False)) #값이 0이라서 그냥 0j로 뜸
print(str(10))
print(str(0b010))
print(str(0o130))
print(str(0xABC))
print(str(12.34))
print(str(1234e-2))
print(str(1+23j))
print(str('10'))
print(str([1, 2, 3]))
print(str((1, 2, 3)))
print(str({2, 3, 1}))
print(str({1: 'One', 2: 'Two'}))

True
False
10
2
88
2748
12.34
12.34
(1+23j)
10
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{1: 'One', 2: 'Two'}

### eval()

* `eval()` 함수는 문자열에 포함된 수식을 **계산하여 나온 결과**를 반환
* '1 + 2'라는 문자열에 대해서 그대로 출력하는 것과 달리 계산된 결과 값은 3을 출력
* 그 밖에도 -, *, /와 같은 여러 수식들에 대해서도 계산 가능

In [13]:
print("1+2")
print(eval("1+2"))
print(eval("10+20-30"))
print(eval("10*10"))
print(eval("100/10"))
#문자열 안의 수식의 연산된 결과값이 출력됨

1+2
3
0
100
10.0

### tuple()

* `tuple()` 함수는 문자열, 리스트, 튜플 등의 자료형을 튜플 자료형으로 변환
* 문자열 `'Suan'`을 문자 단위로 구분하여 튜플 자료형으로 변환
* 리스트 자료형 `[1, 2, 3]`이나 튜플 자료형 `(1, 2, 3)`도 튜플 자료형으로 `(1, 2, 3)`으로 변환

In [16]:
print(tuple('Suan')) # 문자열을 튜플로 변환
print(tuple([1, 2, 3])) # 리스트를 튜플로 변환
print(tuple((1, 2, 3))) # 튜플을 튜플로 변환

('S', 'u', 'a', 'n')
(1, 2, 3)
(1, 2, 3)

### list()

* `list()` 함수는 문자열, 리스트, 튜플 등의 자료형을 리스트 자료형으로 변환
* 문자열 `'Suan'`, 리스트 `[1, 2, 3]`, 튜플 `(1, 2, 3)`에 대해서 리스트 자료형으로 변환

In [17]:
print(list('Suan')) # 문자열을 리스트로 변환
print(list([1, 2, 3])) # 리스트를 리스트로 변환
print(list((1, 2, 3))) # 튜플을 리스트로 변환

['S', 'u', 'a', 'n']
[1, 2, 3]
[1, 2, 3]

### set()

* `set()` 함수는 문자열, 리스트, 튜플, 집합, 딕셔너리 자료형을 집합 자료형으로 변환
* 집합의 특성답게 요소에 대해서 **순서를 고려하지 않고** 변환
* 리스트, 튜플, 집합 자료형도 집합 형태로 변환이 되며, 딕셔너리 자료형도 집합으로 변환
* 딕셔너리 자료형은 키와 값으로 구성된 구조에서 키 값에 해당하는 것만 집합으로 변환

In [18]:
print(set('Suan')) # 문자열을 집합으로 변환 - 근데 Suan 순서가 뒤죽박죽으로 됨! 집합의 특성: 순서 고려하지 않는다.
print(set([1, 2, 3])) # 리스트를 집합으로 변환
print(set((1, 2, 3))) # 튜플을 집합으로 변환
print(set({1, 2, 3})) # 집합을 집합으로 변환
print(set({1: 'One', 2: 'Two'})) # 딕셔너리를 집합으로 변환, 딕셔너리를 집합으로 변환할땐 키 값만 나온다.

{'n', 'a', 'S', 'u'}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3}
{1, 2}

### frozenset()

* `frozenset()` 함수는 문자열을 고정 집합 형태로 변환
* `set()` 함수는 집합의 값을 추가 및 제거 등이 가능
* `frozenset()` 함수는 **수정 불가능**한 집합 자료형

In [19]:
print(frozenset('Suan'))
print(frozenset([1, 2, 3]))

frozenset({'n', 'a', 'S', 'u'})
frozenset({1, 2, 3})

### dict()

* `dict()` 함수는 딕셔너리 자료형으로 변환하는 역할
* (키: 값)으로 구성된 튜플의 시퀀스 형태로 값을 가짐

In [20]:
print(dict({1: 'One', 2: 'Two'}))
print(dict({'One': 1, 'Two': 2}))

{1: 'One', 2: 'Two'}
{'One': 1, 'Two': 2}

### chr()

* `chr()` 함수는 정수를 문자로 변환
* 컴퓨터에서는 문자를 처리하기 위해 각 문자마다 특정 정수값으로 매핑: ASCII(American Standard Code for Information Interchange)

* `chr()` 함수는 ASCII 기준에 따라서 정수값에 해당하는 문자를 나타냄
* 예를 들어, ASCII에서 정수 값 97은 문자 a에 매핑되어 `chr(97)`의 결과 값은 문자 a

In [22]:
print(chr(97)) #ASCII 에서는 97을 a로 이미 딱딱 정해놈
print(chr(65))
print(chr(122))
print(chr(90))

a
A
z
Z

### ord() -chr와 반대작용

* `ord()` 함수는 `chr()` 함수와 반대로 문자를 정수 값으로 변환
* ASCII에 맞춰서 문자 'a'에 해당하는 정수 값인 97을 출력하기

In [23]:
print(ord('a'))
print(ord('A'))
print(ord('z'))
print(ord('Z'))

97
65
122
90

### bin()

* `bin()` 함수는 정수를 2진수 문자열로 변환
* 자료형을 2진수 표기인 '0b'가 붙은 형태의 문자열로 변환
* `bin()` 함수로 `True`는 `0b1`로 출력하고, `False`는 `0b0`으로 출력하기
* 10진수, 2진수, 8진수, 16진수 정수형도 2진수로 변환되어 출력

In [24]:
print(bin(True))
print(bin(False))
print(bin(10))
print(bin(0b010))
print(bin(0o130))
print(bin(0xABC))

0b1
0b0
0b1010
0b10
0b1011000
0b101010111100

### oct()

* `oct()` 함수는 정수를 8진수 문자열로 변환
* 불리언형, 정수형 등의 자료형을 8진수 표기인 '0o'가 붙은 형태의 문자열로 변환
* `oct()` 함수를 이용해 `True`는 `0o1`로 출력되고, `False`는 `0o0`으로 출력하기
* 10진수, 2진수, 8진수, 16진수 정수형도 8진수로 변환되어 출력

In [25]:
print(oct(True))
print(oct(False))
print(oct(10))
print(oct(0b010))
print(oct(0o130))
print(oct(0xABC))

0o1
0o0
0o12
0o2
0o130
0o5274

### hex()

* `hex()` 함수는 정수를 16진수 문자열로 변환
* 주어진 자료형을 16진수 표기인 '0x'가 붙은 16진수 형태의 문자열로 변환
* 불리언형과 정수형 모두 16진수 표기의 문자열로 변환하기

In [26]:
print(hex(True))
print(hex(False))
print(hex(10))
print(hex(0b010))
print(hex(0o130))
print(hex(0xABC))

0x1
0x0
0xa
0x2
0x58
0xabc

### bytes()

* `bytes()` 함수는 자료형을 바이트형으로 변환
* 객체를 바이트 객체로 변환

In [27]:
print(bytes(True))
print(bytes(False))
print(bytes(10))
print(bytes(b'Hello'))
print(bytes([1, 2, 3]))

b'\x00'
b''
b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'
b'Hello'
b'\x01\x02\x03'

### bytearray()

* `bytearray()` 함수는 자료형을 변경가능한 바이트형으로 변환

In [32]:
ba = bytearray(b'hello')
print(ba)
ba[0]=ord('H')
print(ba)
print(type(ba))

ba = bytearray([1, 2, 3])
print(ba)
ba[0]= 4
print(ba)
print(type(ba))

bytearray(b'hello')
bytearray(b'Hello')
<class 'bytearray'>
bytearray(b'\x01\x02\x03')
bytearray(b'\x04\x02\x03')
<class 'bytearray'>

### memoryview()

* 바이트 자료형을 메모리의 이진 데이터로 변환한 자료형

In [33]:
ba = bytearray(b'Hello')
mv = memoryview(ba)
ba[0]=72
print(ba)
print(mv)
print(type(mv))

bytearray(b'Hello')
<memory at 0x7fba73a84d50>
<class 'memoryview'>

## 자료형 계산

자료형들 간의 계산이 가능하도록 몇가지 유용한 내장함수를 제공 (빌트인 펑션)<br>
min 최솟값<br>
max 최댓값<br>
sum 값들의 합<br>
divmod(a, b) a를 b로 나눈 값과 나머지를 쌍으로 반환<br>
abs 절댓값(앱솔루트)<br>
pow(a, b) a의 b승<br>
len(s) 시퀀스(문자열 바이트 튜플 리스트)의 갯수를 반환<br>
round 소수점 뒤를 반올림한 값<br>
all 모든값이 true이거나 비어있을때 true로 반환<br>
any 어떤값이 true이면 true 반환, 값이 비어있을때 false 반환

### min()

* 입력된 값들 중에서 가장 작은 값을 반환하는 함수

In [4]:
print(min(1,2,3))
print(min([3, 4, 5]))

1
3

### max()

* 입력된 값들 중에서 가장 큰 값을 반환하는 함수

In [5]:
print(max(1,2,3))
print(max([3, 4, 5]))

3
5

### sum()

* 입력된 값들의 전체 합을 반환

In [6]:
print(sum((1,2,3)))
print(sum([3, 4, 5]))

6
12

### divmod()

* 나눈 값과 나머지 값을 쌍으로 반환
* `(a // b, a % b)`와 동일한 값

In [11]:
print(divmod(3, 5))
print(divmod(10, 5))
print((10//5, 10%5))

(0, 3)
(2, 0)
(2, 0)

### abs()

* 절대값 $|x|$으로 반환

In [12]:
print(abs(-4))
print(abs(5))
print(abs(-10))

4
5
10

### pow()

* 지수승의 값 $a^b$으로 반환

In [13]:
print(pow(2, 3))
print(pow(10, 4))

8
10000

### len(s)

* 다양한 시퀀스의 갯수를 반환

In [14]:
print(len("String"))
print(len((1,2,3)))
print(len([4,5]))

6
3
2

### round()

* 소수점 뒤를 반올림한 값을 반환

In [16]:
print(round(3.14))
print(round(3.141527, 2))
print(round(0.6))
print(round(0.4))

3
3.14
1
0

### all()

* 모든 값이 `True` 이거나 비어있을 때 `True` 반환

In [17]:
print(all((1,2,3)))
print(all(()))
print(all((False, True, False)))
print(all((False, False, False)))

True
True
False
False

### any()

* 어떤 값이 `True` 이면 `True` 반환
* 값이 비어있으면 `False` 반환

In [18]:
print(any((1,2,3)))
print(any(()))
print(any((False, True, False)))
print(any((False, False, False)))

True
False
True
False



---

# 연산자(Operators)

* 피연산자의 계산을 위해 다양한 연산자들이 존재
* 파이썬에서 제공하는 연산자들의 종류<br>
 산술<br>
 비교<br>
 할당<br>
 비트<br>
 논리<br>
 멤버<br>
 식별

## 산술 연산자(Arithmetic Operators)

In [20]:
print(str("+ - * / % **(제곱) //(몫)"))

+ - * / % **(제곱) //(몫)

In [21]:
a=6
b=4
print(a/b)
print(a%b)
print(a**b)
print(a//b)

1.5
2
1296
1

## 비교 연산자(Comparison Operators)

In [22]:
a, b = 6, 4
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

## 할당 연산자(Assignment Operators)

= 오른쪽 피연산자의 값을 왼쪽 피연산자에 할당<br>
+= 왼쪽 피연산자의 값을 오른쪽 피연산자에 **더하고** 그 결과를 왼쪽 피연산자에 대입<br>
-= 왼쪽 피연산자의 값을 오른쪽 피연산자에 더하고 그 결과를 왼쪽 피연산자에 대입<br>
*= 왼쪽 피연산자의 값을 오른쪽 피연산자에 **곱하고** 그 결과를 왼쪽 피연산자에 대입<br>
/= 왼쪽 피연산자의 값을 오른쪽 피연산자에 **나누고** 그 결과를 왼쪽 피연산자에 대입<br>
%= 왼쪽 피연산자의 값을 오른쪽 피연산자에 나눈 **나머지 값을** 왼쪽 피연산자에 대입<br>
**= 왼쪽 피연산자의 값을 오른쪽 피연산자에 **제곱한 값을** 왼쪽 피연산자에 대입<br>
//= 왼쪽 피연산자의 값을 오른쪽 피연산자에 **나눈 몫을** 왼쪽 피연산자에 대입

In [24]:
a, b = 6, 4
print(a, b)
a+=b  #a에다 b를 더한 값을 -> 다시 a에 넣어라
print(a) # 6+4 는 10
a-=b #10에서 4를 뺀 값을 다시 a에 넣어라
print(a) # a=6
a*=b #6*4를 다시 a에 넣어라
print(a) # a=24
a/=b #24/4 한값을 다시 a에 넣어라
print(a) # a=6
a%=b # 6/4의 나머지를 a에 넣어라
print(a) # a=2
a**=b #2**4를 다시 a에 넣어라
print(a) #a=16
a//=b #16/4의 몫을 a에 넣어라
print(a) # a=4

6 4
10
6
24
6.0
2.0
16.0
4.0

## 비트 연산자(Bitwise Operators)

In [25]:
a, b = 6, 4
print(bin(a)) #바이너리로 표시
print(bin(b))
print(a&b, bin(a&b))
print(a|b, bin(a|b))
print(a^b, bin(a^b))
print(~a, bin(~a))
print(a<<b, bin(a<<b))
print(a>>b, bin(a>>b))

0b110
0b100
4 0b100
6 0b110
2 0b10
-7 -0b111
96 0b1100000
0 0b0

## 논리 연산자(Logical Operators)

In [26]:
print(True and True)
print(True and False)
print(True or True)
print(not True)
print(not False)
print(not(True and False))

True
False
True
False
True
True

## 멤버 연산자(Membership Operators)

In [28]:
a, b = 6, 4
l = [2, 4, 8]
print(a in l)
print(b in l)
print(a not in l)
print(b not in l)

False
True
True
False

## 식별 연산자(Identity Operators)

In [30]:
a, b = 6, 4
print(a is b)
print(b is not b)
a, b = 5, 5
print(a is b)
print(a is not b)

False
False
True
False