# 리스트, 튜플, 세트, 딕셔너리

# 리스트<br>
변경 가능 시퀀스 자료형<br>
하나의 변수에 여러값 할당 가능<br>
같은 자료형이 아니라 다른 자료형을 가지는 값들 포함 가능<br>
일반적으로 비슷하 항목들 모음을 순서대로 저장



---

## 리스트(List)

In [ ]:
print([])
print([1,2,3])
print(['One', 'Two', 'Three'])
print([1, 'One', 2, 'Two', 3, 'Three']) # 서로 다른 자료형인데 리스트에 포함돼서 나옴
print([1, 2, 3, ['One', 'Two', 'Three']]) # 리스트 안에 리스트 들어가는 형태도 가능

[]
[1, 2, 3]
['One', 'Two', 'Three']
[1, 'One', 2, 'Two', 3, 'Three']
[1, 2, 3, ['One', 'Two', 'Three']]

### 리스트 인덱싱(List Indexing)

* 리스트의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

One', 'Two', 'Three' <br>
0     1       2<br>
-3    -2      -1

In [ ]:
list = ['One', 'Two', 'Three']
print(list)
print(list[0])
print(list[1])
print(list[2])
print(list[-1]) # 항상 -1 인덱스는 오른쪽 끝
print(list[-2])
print(list[-3])

['One', 'Two', 'Three']
One
Two
Three
Three
Two
One

### 중첩 리스트 인덱싱(Nested List Indexing)

* 리스트 안에 리스트가 있을 경우 인덱스 접근 방법

In [ ]:
list = ([1, 2, 3, ['One', 'Two', 'Three']]) # 리스트 안에 리스트 들어가는 형태도 가능
print(list)
print(list[3])
print(list[3][0]) # 3번째 인덱스 안에서 0번째 인덱스 출력
print(list[3][1]) # 3번째 인덱스 안에서 1번째 인덱스 출력
print(list[3][2]) # 3번째 인덱스 안에서 2번째 인덱스 출력

[1, 2, 3, ['One', 'Two', 'Three']]
['One', 'Two', 'Three']
One
Two
Three

### 리스트 슬라이싱(List Slicing)

* 리스트의 인덱스를 통해서 부분만 가져올 때 사용

In [ ]:
list = ['One', 'Two', 'Three']
print(list)
print(list[0:])
print(list[1:2])
print(list[1:])

['One', 'Two', 'Three']
['One', 'Two', 'Three']
['Two']
['Two', 'Three']

### 중첩 리스트 슬라이싱(Nested List Slicing)

* 중첩된 리스트에서 일부분만 인덱스를 통해서 가져올 때 사용

In [ ]:
list = [1, 2, 3, ['One', 'Two', 'Three']]
print(list)
print(list[2:4])
print(list[3][2:]) # 세번째 리스트에서 2에서 끝 인덱스
print(list[3][:2])

[1, 2, 3, ['One', 'Two', 'Three']]
[3, ['One', 'Two', 'Three']]
['Three']
['One', 'Two']

### 리스트 연산자/함수(List Operators/Function)

* 더하기 + 연산자
* 곱하기 * 연산자
* 리스트 길이를 구하는 `len()` 함수

In [ ]:
list_1 = ['One', 'Two', 'Three']
list_2 = ['Four', 'Five', 'Six']
print(list_1)
print(list_2)
print(list_1 + list_2)
print(list_1 * 3)
print(len(list_1))
print(len(list_1 * 3)) # 리스트1을 세번 곱한 출력물의 길이를 구한것.

['One', 'Two', 'Three']
['Four', 'Five', 'Six']
['One', 'Two', 'Three', 'Four', 'Five', 'Six']
['One', 'Two', 'Three', 'One', 'Two', 'Three', 'One', 'Two', 'Three']
3
9

### 리스트 수정(List Modify)

* 리스트 인덱스 주소를 이용한 값 수정

In [ ]:
list = ['One', 'Two', 'Three']
print(list)
list[2] =3
print(list) # 'Three'가 3으로 바뀜
list[1] = 2
print(list) # Two 가 2가됨
list[0] = 1 
print(list)# One 이 1이됨

['One', 'Two', 'Three']
['One', 'Two', 3]
['One', 2, 3]
[1, 2, 3]

### 리스트 메소드(List Methods)

#### append()

* 리스트 요소 추가

In [ ]:
list = ['One', 'Two', 'Three']
list.append('Four') #Four를 추가함
print(list)
list.append([1, 2, 3, 4]) #리스트를 리스트에 추가함
print(list)

['One', 'Two', 'Three', 'Four']
['One', 'Two', 'Three', 'Four', [1, 2, 3, 4]]

#### sort()

* 리스트 정렬

In [ ]:
list = [10, 40, 20, 30]
print(list) # 정렬 안된 리스트
list.sort() # 정렬하기
print(list)
list = ['orange', 'appple', 'banana', 'strawberry']
print(list)
list.sort() # 알파벳순으로 정렬
print(list)

[10, 40, 20, 30]
[10, 20, 30, 40]
['orange', 'appple', 'banana', 'strawberry']
['appple', 'banana', 'orange', 'strawberry']

#### reverse()

* 리스트 요소 반전

In [ ]:
list = ['orange', 'appple', 'banana', 'strawberry']
print(list)
list.reverse() # 인덱스 순서 반대로 출력
print(list)

['orange', 'appple', 'banana', 'strawberry']
['strawberry', 'banana', 'appple', 'orange']

#### index()

* 리스트의 요소 값에 대한 인덱스를 반환

In [ ]:
list = [10, 40, 20, 30]
print(list)
print(list.index(10)) # .index 메서드가 0번째 리스트에 있다는 걸 알려줌
print(list.index(20))

[10, 40, 20, 30]
0
2

#### insert()

* 리스트 요소 삽입

In [ ]:
list = [10, 40, 20, 30]
print(list)
list.insert(4, 50) # 원하는 인덱스(4)에다 내가 원하는값(50)을 추가. append는 그냥 맨 끝에 추가하는거. 둘이 다름
print(list)
list.insert(0, 60)
print(list)

[10, 40, 20, 30]
[10, 40, 20, 30, 50]
[60, 10, 40, 20, 30, 50]