# 리스트, 튜플, 세트, 딕셔너리

#### remove()

* 리스트 요소 제거

In [1]:
list = [10, 40, 20, 30]
print(list)
list.remove(40)
print(list)
list.remove(30)
print(list)

[10, 40, 20, 30]
[10, 20, 30]
[10, 20]

#### del

* 리스트 요소 제거 연산

In [4]:
list = [10, 40, 20, 30]
print(list)
del list[0] # 값에대한 접근이 아니라 인덱스의 위치값에 대해 접근하는것
print(list)
del list[2]
print(list)
# 삭제가 되면 될수록 인덱스 위치값이 바뀌니 주의해서 사용해야함

[10, 40, 20, 30]
[40, 20, 30]
[40, 20]

#### pop()

* 리스트 요소를 방출

In [5]:
list = [10, 40, 20, 30]
print(list)
list.pop() # 끝에 있는 인덱스를 방출(30을 방출)
print(list)
list.pop(0)
print(list)

[10, 40, 20, 30]
[10, 40, 20]
[40, 20]

#### count()

* 리스트 요소의 갯수 계산

In [9]:
list = [10, 20, 20, 30, 30, 30]
print(list)
# 내가 어떤 값이 몇개가 있는지 알고 싶다.
print(list.count(30))  # 30이란 값이 몇개 있니?
list.count(20) # 20이란 값이 몇개 있니?

[10, 20, 20, 30, 30, 30]
3

2

#### extend()

* 리스트 확장

In [10]:
list = [10, 40, 20, 30]
print(list)
list.extend([50, 60]) # 리스트 안에 리스트가 포함된 형태(컨캐티네이트)로 확장하게 됨
print(list)

[10, 40, 20, 30]
[10, 40, 20, 30, 50, 60]



---

## 튜플(Tuple)

* 리스트와 유사하지만 **변경 불가능**한 시퀀스 자료형
* 하나의 변수에 여러 값 할당 가능
* ‘(‘와 ‘)’를 사용하여 표현

In [14]:
print(())
print((1, 2, 3))
print(('One', 'Two', 'Three'))
print((1, 'One', 2, 'Two', 3, 'Three'))
print((1, 2, 3, ('One', 'Two', 'Three')))

()
(1, 2, 3)
('One', 'Two', 'Three')
(1, 'One', 2, 'Two', 3, 'Three')
(1, 2, 3, ('One', 'Two', 'Three'))

### 튜플 인덱싱(Tuple Indexing)

* 튜플의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

In [15]:
tuple = ('One', 'Two', 'Three')
print(tuple)
print(tuple[0])
print(tuple[-1]) # -1 인덱스는 맨끝

('One', 'Two', 'Three')
One
Three

### 중첩 튜플 인덱싱(Nested Tuple Indexing)

* 튜플 안에 튜플이 중첩되어 있을 경우, 인덱스 접근 방법

In [18]:
tuple = (1, 2, 3, ('One', 'Two', 'Three'))
print(tuple)
print(tuple[3])
print(tuple[3][1]) # 세번째 인덱스 안에서 1번 인덱스니까 Two임

(1, 2, 3, ('One', 'Two', 'Three'))
('One', 'Two', 'Three')
Two

### 튜플 슬라이싱(Tuple Slicing)

* 튜플의 인덱스를 통해서 부분만 가져올 때 사용

In [21]:
tuple = ('One', 'Two', 'Three')
print(tuple)
print(tuple[0:])
print(tuple[1:2])
print(tuple[1:])

('One', 'Two', 'Three')
('One', 'Two', 'Three')
('Two',)
('Two', 'Three')

### 중첩 튜플 슬라이싱(Nested Tuple Slicing)

* 중첩된 튜플에서 일부분만 인덱스를 통해서 가져올 때 사용

In [23]:
tuple = (1, 2, 3, ('One', 'Two', 'Three'))
print(tuple)
print(tuple[3])
print(tuple[3][2:])
print(tuple[3][:2])

(1, 2, 3, ('One', 'Two', 'Three'))
('One', 'Two', 'Three')
('Three',)
('One', 'Two')

### 튜플 연산자/함수(Tuple Operators/Function)

* 더하기 + 연산
* 곱하기 * 연산
* 튜플 길이를 구하는 `len()` 함수

In [26]:
tuple_1 = ('One', 'Two', 'Three')
tuple_2 = ('Four', 'Five', 'Six')
print(tuple_1)
print(tuple_2)
print(tuple_1 + tuple_2)
print(tuple_1 * 3)
print(len(tuple_1))
print(len(tuple_1 + tuple_2))

('One', 'Two', 'Three')
('Four', 'Five', 'Six')
('One', 'Two', 'Three', 'Four', 'Five', 'Six')
('One', 'Two', 'Three', 'One', 'Two', 'Three', 'One', 'Two', 'Three')
3
6



---

## 세트(Set)

* 데이터 중복을 허용하지 않는 구조
* 순서가 없는 데이터 집합을 위한 구조
* 인덱싱으로 값을 접근할 수 없음

### 중복X, 순서X 가장 큰 특징

In [31]:
print({})
print({'One', 'Two', 'Three'}) # 집합에선 순성가 의미 없게 저장되어 있음
print({10, 20, 30, 40})

{}
{'One', 'Two', 'Three'}
{40, 10, 20, 30}

### 세트 연산자(Set Operators)

* 교집합: &
* 합집합: |
* 차집합: -
* 여집합: ^

In [35]:
set_1 = {10, 20, 20, 30}
set_2 = {30, 30, 40, 50}
print(set_1) # 같은 값이 여러개 있어도 중복이 허용이 안됨
print(set_2)
print(set_1 & set_2) # &는 교집합이란 뜻
print(set_1 | set_2) # 엔터 위에 있는 파이프라인은 합집합이란 뜻, 30 겹치는거 빼고 나옴
print(set_1 - set_2) # - 차집합
print(set_1 ^ set_2) # ^ 여집합, 전체 합집합에서 교집합을 뺀 것.

{10, 20, 30}
{40, 50, 30}
{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

### 세트 메소드(Set Methods)

* 교집합: intersection()
* 합집합: union()
* 차집합: difference()
* 여집합: symmetric_difference()

In [38]:
set_1 = {10, 20, 20, 30}
set_2 = {30, 30, 40, 50}
print(set_1) 
print(set_2)
print(set_1.intersection(set_2)) # 인터섹션은 교집합
print(set_1.union(set_2)) # 유니언이 합집합
print(set_1.difference(set_2)) # 디퍼런스는 차집합
print(set_1.symmetric_difference(set_2)) # 시메트릭 디퍼런스는 여집합

{10, 20, 30}
{40, 50, 30}
{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

* 요소 추가: add()
* 여러 요소 추가: update()
* 요소 제거: remove()
* 요소 제거: discard()
* 모든 요소 제거: clear()

In [45]:
set = {10, 20, 30, 40}
print(set)

set.add(50)
print(set)

set.update([60, 70]) #여러 요소를 추가할때 업데이트, 하나 추가할땐 add
print(set)

set.remove(70)
set.remove(60)
print(set)

set.discard(30)
print(set)

set.clear()
print(set)

{40, 10, 20, 30}
{40, 10, 50, 20, 30}
{70, 40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20}
set()



---

## 딕셔너리(Dictionary)

* 키(key)와 값(value)의 쌍으로 구성된 데이터
* 순서가 없는 데이터
* 키를 통해 값을 얻음
* 동일한 키가 있을경우 덮어씀

In [47]:
dic = {1:'One', 2:'Two', 3:'Three'}
print(dic)

dic = {1:'One', 2:'Two', 3:'Three', 1:'One', 2:'Two', 3:'Three'}
print(dic)

{1: 'One', 2: 'Two', 3: 'Three'}
{1: 'One', 2: 'Two', 3: 'Three'}

### 딕셔너리 요소 추가/삭제

* 딕셔너리의 해당 **키 값**에 값을 추가하여 요소 추가
* del을 이용하여 요소 제거

In [52]:
dic = {1:'One', 2:'Two', 3:'Three'}
print(dic)
print(dic[2]) # 2가 키값임
dic[4] = 'Four'
print(dic)
dic[5] = 'Five'
print(dic)
del dic[4]
print(dic)

{1: 'One', 2: 'Two', 3: 'Three'}
Two
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
{1: 'One', 2: 'Two', 3: 'Three', 5: 'Five'}

### 딕셔너리 메소드(Dictionary Methods)

keys() 딕셔너리 키 가져오기<br>
values() 딕셔너리 값 가져오기<br>
items() 딕셔너리의 키와 값을 모두 가져오기<br>
get() 딕셔너리에서 키에 해당하는 값 가져오기<br>
pop() 딕셔너리에서 키에 해당하는 값 추출하기<br>
clear() 딕셔너리의 모든 요소를 제거하기

In [58]:
dic = {1:'One', 2:'Two', 3:'Three'}
print(dic)
print(dic.keys())
print(dic.values())
print(dic.items()) # 키 밸류 쌍으로 나옴
print(dic.get(2)) # 키의 값을 가져와서 보여주기만 함 
print(dic.pop(3)) # 키의 값을 추출한다. 딕셔너리에서 이 값을 빼내고 보여줌. 
print(dic)
dic.clear()
print(dic)

{1: 'One', 2: 'Two', 3: 'Three'}
dict_keys([1, 2, 3])
dict_values(['One', 'Two', 'Three'])
dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])
Two
Three
{1: 'One', 2: 'Two'}
{}