# 제어문(Control Statement)



---

## 조건문(Conditional Statement)

### if 문

True와 false를 판단하는 조건문 <br>
if 조건 뒤에는 콜론(:)<br>
if 기본 문법 

if <조건>: <br>
  <문장>

조건이 만약 트루면 문장을 실행하고 펄스면 문장 실행 안하고 넘어간다.
조건 뒤에 콜론 꼭 붙여야함.

* if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 35 초과는 미세먼지 농도 나쁨

In [ ]:
pm =40 
if pm > 35:
  print("미세먼지 농도: 나쁨") # 조건에 해당이 되니까 출력함. 조건에 해당이 안되면 출력 안하는 것임.

미세먼지 농도: 나쁨

In [ ]:
pm = 30
if pm > 35:
  print("미세먼지 농도: 나쁨") # 조건에 해당이 안되면 출력 안하는 것임.

### if-else 문

if <조건>: <br>
  <문장 1> - if 조건을 만족하지 않았을 경우에(false일때) 문장1은 패스<br>
else:      - 대신 else로 들어감. 문장 2가 출력<br>  
  <문장 2><br>

* if-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 36 이상은 미세먼지 농도 나쁨
  + 35 이하는 미세먼지 농도 좋음

In [ ]:
pm = 40
if pm >= 36:
  print("미세먼지 농도: 나쁨")
else:
  print("미세먼지 농도: 좋음")

미세먼지 농도: 나쁨

In [ ]:
pm = 30
if pm >= 36: # 30이 36 이상이 아니라 이하임. 그러니 if 문장은 패스하고 else로 들어가는것임
  print("미세먼지 농도: 나쁨")
else:
  print("미세먼지 농도: 좋음")

미세먼지 농도: 좋음

### if-elif-else 문

if <조건>:    <br>
  <문장 1>    <br>
elif <조건>:  -새로운 조건(if와 else 조건과 다른 조건)을 __계속__ 추가할수있슴<br>
  <문장 2>    <br>
else:         <br>
  <문장 3>    <br>

if 조건에 트루면 문장1 출력, false면 elif에 들어감. elif 조건에 트루면 문장2 출력, false면 else로 들어감.

* if-elif-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [ ]:
pm = 40
if pm < 16:
  print("미세먼지 농도: 좋음")
elif pm < 36:  # 16 =< pm < 36 이라고 처음에 썼는데 그럴필요 없음. if 조건에 어차피 안맞아서 튕겨나온거기 때문에 if의 조건을 다시 고려할 필요 X 
  print("미세먼지 농도: 보통")
elif pm < 76:
  print("미세먼지 농도: 나쁨")
else:
  print("미세먼지 농도: 매우나쁨")

미세먼지 농도: 나쁨

In [ ]:
pm = 78
if pm < 16:
  print("미세먼지 농도: 좋음")
elif pm < 36:
  print("미세먼지 농도: 보통")
elif pm < 76:
  print("미세먼지 농도: 나쁨")
else:
  print("미세먼지 농도: 매우나쁨")

미세먼지 농도: 매우나쁨

### 중첩 if 문

들여쓰기 이프문 안에 또 이프문이 있는것

* 중첩 if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [ ]:
pm = 80
if pm < 36: #일단 절반 부분인 36을 기준으로 잡고 크게 두덩이로 나눔
  if pm < 16:
    print("미세먼지 농도: 좋음")
  else:
    print("미세먼지 농도: 보통")
else: # else 써주고 이프문 밑에 또 추가해줌
  if pm < 76:
    print("미세먼지 농도: 나쁨")
  else:
    print("미세먼지 농도: 매우나쁨")

미세먼지 농도: 매우나쁨

In [ ]:
pm = 40
if pm < 36: #일단 절반 부분인 36을 기준으로 잡고 크게 두덩이로 나눔
  if pm < 16:
    print("미세먼지 농도: 좋음")
  else:
    print("미세먼지 농도: 보통")
else: # else 써주고 이프문 밑에 또 추가해줌
  if pm < 76:
    print("미세먼지 농도: 나쁨")
  else:
    print("미세먼지 농도: 매우나쁨")

미세먼지 농도: 나쁨

### if-pass 문

* 조건문은 있지만 실행할 문장이 없는 경우, **오류가 발생하지 않도록 무시하고 넘어가는** 기능

In [ ]:
if 10 > 5: # 당연하게 맞는 말을 써줌. 10이 5보다 크면 100이라고 출력해주세요
  print(100)
else: # else문 에 문장 안써주니 오류남.
  pass # pass 라고 써주니 오류 안나고 잘 나옴

100

### if 조건 연산자

* 비교연산자: <, >, ==, !=, >=, <=

In [ ]:
if 2 > 1:
  print(2)
if 3 == 3:
  print(3)
if 1 != 2: # !=는 not equal to 라는 뜻임. 느낌표가 낫임.
  print(1)

2
3
1

* 논리연산자: and, or, not

In [ ]:
rain = True
snow = True
sun = False

if rain and snow: # 비가 오고 눈이 오면 true true 진눈깨비
  print("진눈깨비")

if not sun: # 해가 안떠있으면 false 면 흐림이라고 출력이 됨. sun=true면 출력 안됨
  print("흐림")
else: # 해가 떠있으면 true면 맑음이 뜸
  print("맑음")

진눈깨비
흐림

* 멤버연산자: in, not in

In [ ]:
list  = ['One', 'Two', 'Three'] #이런 리스트가 있음

if 'One' in list: # 리스트에 One이 있을때 One이라고 출력해라, in 멤버연산자 활용
  print('One')

if 'Four' not in list: # 리스트에 Four이 없을때 no Four라고 출력해라.
  print('no Four')

One
no Four

* 식별연산자: is, is not

In [35]:
if 'One' is 'One':
  print('One')

if 'One' is not 'Two':
  print('One != Two')

One
One != Two

### 조건부 표현식(Conditional Expression)

* 한 라인으로 조건식을 사용한 표현

In [1]:
score = 75
msg = "통과" if score >= 70 else "탈락" # 한줄로 표현하는게 핵심
print(msg)

통과

In [2]:
score = 65
msg = "통과" if score >= 70 else "탈락"
print(msg)

탈락

### [Lab] 학생 종류

* 8세 미만 "학생 아님"
* 14세 미만 "초등학생"
* 17세 미만 "중학생"
* 20세 미만 "고등학생"
* 26세 미만 "대학생"
* 그 외에 "학생 아님"

In [3]:
age = 22
if age < 8:
  print("학생 아님")
elif age < 14:
  print("초등학생")
elif age < 17:
  print("중학생")
elif age < 20:
  print("고등학생")
elif age < 26:
  print("대학생")
else:
  print("학생 아님")

대학생

### [Lab] 학점 계산

* 95점 이상 "A+"
* 90점 이상 "A"
* 85점 이상 "B+"
* 80점 이상 "B"
* 75점 이상 "C+"
* 70점 이상 "C"
* 65점 이상 "D+"
* 60점 이상 "D"
* 그 외 "F"

In [13]:
socre = 65
if score >= 95:
  print("A+")
elif score >= 90:
  print("A")
elif score >= 85:
  print("B+")
elif score >= 80:  
  print("B")
elif score >= 75:
  print("C+")
elif score >= 70:
  print("C")
elif score >= 65:  
  print("D+")
elif score >= 60:
  print("D")
else:
  print("F")

D+



---

## 반복문(Repetitive Statement)

문장을 반복적으로 수행<br>
정해진 동작을 반복하여 처리할 때 사용<br>
파이썬에서 제공하는 반복문<br>
while<br>
for

### while 문

어떤 조건이 만족하는 동안 문장을 수행하고 만족하지 않는 경우 수행 중단<br>
while 기본문법<br>
while<조건>:<br>
  <문장>

* while 문 예제: 1부터 10까지 반복

In [15]:
i = 1
while i <= 10:
  print(i) # 여기까지만 쓰고 실행하면 1이 무한으로 출력됨
  i += 1 # i가 1, 2, 3, 4~ 10까지 출력하고 11이 되면 false가 돼서 출력 멈춤

1
2
3
4
5
6
7
8
9
10

* while 문 예제: 1부터 10까지 더하기

In [16]:
i = 1 # i를 1 sum을 0이라고 처음에 지정해 놈. 
sum = 0  # 여기서 sum은 그냥 변수인거 같음. 함수 노
while i <= 10:
  sum += i  # i가 10 이하니 sum에 1씩 추가, i에도 1씩 추가. i가 2가 됨. 2가 된 i가 다시 sum에 들어감. sum에는 아까 1이 있었고 거기에 2가 또 들어가서 3이됨.
            # 그 3이 다시 i가 됨. 3이 sum에 다시 들어감. sum 1+2+3=6이 됨. 또 1 추가하면 4가 되고 등등 반복..
            # 11이 되어보니 와일 조건에 만족안해서 바로 끝남 -> 출력(1에서 10까지 더한 결과값)
  i += 1

print(sum) # 1에서 10까지 더하면 55임.

55

### for 문

for 변수 in 리스트, 튜플, 문자열: <br>
  <문장>

반복 **범위** 를 지정하여 반복 수행

* 리스트 요소 반복

In [17]:
list = ['One', 'Two', 'Three']
for i in list: # 리스트에 있는걸 하나 씩 가져오기
  print(i)

One
Two
Three

* 튜플 요소 반복

In [19]:
tuple = ('One', 'Two', 'Three')
for i in tuple:
  print(i)

One
Two
Three

* 문자열 요소 반복

In [20]:
string = 'SuanLab'
for i in string:
  print(i)

S
u
a
n
L
a
b

#### range()

범위반복에 사용<br>
for 변수 in range(시작값, 마지막값, 증가값): - 근데 시작값 증가값은 생략가능. 디폴트로 각각 0, 1이 들어감
<문장>

In [21]:
sum = 0
for i in range(10):
  sum += i

print(sum) # 10까지 더해야 하는데 range의 10은 마지막 값이라서 9까지밖에 안해줌. 1에서 9를 더한값이 45임.

45

In [22]:
sum = 0
for i in range(101):
  sum += i

print(sum) # 1에서 100까지 더하면 5050임

5050

In [24]:
for i in range(1, 10, 2): # 1에서 10까지 2간격으로
  print(i) # 1, 3, 5, 7, 9 홀수만 출력

1
3
5
7
9

* 범위 반복 range를 이용한 구구단

In [27]:
for i in range(2, 10): # (2, 3, 4, 5, 6, 7, 8, 9)단을 증가
  for j in range(1, 10): # 배수를 입력해주는거 1~9, i 2에서 j가 10이 되면 조건 만족을 안하니까 i로 고백, i 3으로 늘어나서 다시 반복.
    print('{0} x {1} = {2}'.format(i, j, i * j))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### _ 기능

for문을 사용하면서 iterator 역할을 위해서 i 변수가 필요<br>
for문 이후에는 iterator 변수 i가 필요하지 않음<br>
이후에 사용되지 않을 변수에 어떤 이름을 부여하고 싶지 않을때 _를 사용

In [30]:
for i in range(5):
  print("SuanLab")

SuanLab
SuanLab
SuanLab
SuanLab
SuanLab

In [29]:
for _ in range(5): # 수안랩을 5번 출력하라는 건데 변수이름을 안만들고 싶어서 i로 안하고 그냥 _로 퉁친것임.
  print("SuanLab")

SuanLab
SuanLab
SuanLab
SuanLab
SuanLab

### else 문

* 반복이 **종료된 후에** 한번 더 실행되는 문장

In [34]:
i = 1
sum = 0
while i <= 10:
  sum += i
  i += 1
else:   # 위에서 else없이 바로 프린트 했던것보다 좀더 직관적으로 예쁘게 정리돼 보인다.
  print(sum)

55

In [36]:
sum = 0
for i in range(11):
  sum += i
else:
  print(sum)

55

### break 문

* 반복문 종료

In [38]:
i = 0
while i < 100:
  print(i)
  if i == 10:
    break
  i += 1 # 이프-브레이크문 없으면 i를 0부터 99까지 출력함. 근데 브레이크를 줘서 10에 끝내는거

0
1
2
3
4
5
6
7
8
9
10

In [41]:
for i in range(100):
  print(i)
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9
10

### continue 문

* 반복 조건문으로 이동

In [44]:
i = 0
while i < 10:
  i += 1
  if i % 2 == 0: #i를 2로나눈 나머지가 0일경우= 'i가 짝수'일경우
    continue     #컨티뉴, 다음계산으로 계속 가라는것.  i를 2로나눈 나머지가 0이 '아닐' 경우= 홀수일경우 
  print(i)    #출력 되는 것임

1
3
5
7
9

In [46]:
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

### 리스트 내포(List Comprehension)

* 리스트 안에 for 문과 if 문 사용

In [47]:
list = [1, 2, 3, 4, 5]
print([i for i in list]) # 그대로 나옴

[1, 2, 3, 4, 5]

In [53]:
list = [1, 2, 3, 4, 5]
print([i * 2 for i in list]) # 2씩 곱해서 나옴

print([i for i in range(10)])
print([i * 2 for i in range(10)]) # 바로 위에 2를 곱해줘서 나오는거

print([i * 2 for i in range(10) if i % 2 == 0]) #짝수인거 0, 2, 4, 6, 8이 곱하기 2씩된 값이 나옴

[2, 4, 6, 8, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 8, 12, 16]

### [Lab] 문자열 반전

* 문자열을 역순으로 만들기

In [55]:
string = "SuanLab"
reverse = ""
for c in string: # 변수 c에 S u a n L a b 를 하나씩 넣는것임
  reverse = c + reverse # reverse는 위에 설정해놨듯이 "" 빈값임
                        # 처음 S가 들어와서 reverse 변수에 저장됨
                        # 두번째로 u가 들어옴 근데 이미 S가 있음 따라서 uS가 reverse 변수에 저장됨
                        # 세번째로 a가 들어옴 근데 이미 uS가 있음 따라서 auS가 reverse 변수에 저장돔
                        # So on

print(string)
print(reverse) # 거꾸로 나옴.

SuanLab
baLnauS



---

## 에러와 예외(Errors and Exceptions)

* 프로그램에서는 에러가 발생
* 에러에 대한 예외 처리가 필요

AssertionError: assert무이 실패할때 발생<br>
AttributeError: 속성에 참조가 대입이 실패할때<br>
EOFError end of file 조건 만날때, 파일끝에 접근할때<br>
Importerror 임포트 했을때 모듈로드 못했을때 에러<br>
moduleNotFoundError 임포트할 모듈 못찾았을때<br>
IndexError 시퀀스 인덱스 범위를 벗어날때, 인덱스에 해당값이 없을때<br>
KeyError 딕셔너리 키가 키 집합에 없을때<br>
KeyboardInterrupt 사용자가 인터룹트 컨트롤씨 또는 딜리트 누를때<br>
MemoryError 작업에 메모리 부족할때 근데 일부객체 삭제해서 복구할수 있을때<br>
NameError 지역 또는 전역 이름 못찾을때<br>
NotImplementedError 런타임에러에서 내용이 없는 메소드 호출시<br>
OSError 운영체제에 에러있을때<br>
OverflowError 산술연산 결과가 넘 클때,<br>
RuntimeError 다른범주에 속하지 않는 에러가 있을때<br>
SyntaxError 문법오류<br>
IndentationError 들여쓰기<br>
TabError 들여쓰기 일관성 없을때, 탭+스페이스로<br>
SystemError 인터프리터 내부에 에러 있을때<br>
SystemExit sys.ext() 함수 호출될때, 프로그램 종료할때<br>
TypeError 연산 또는 함수가 부적절한 형의 객체에 적용될때<br>
UnboundlocalError 함수나 메소드에서 지역변수 참조하지만 해당 변수가 값이 <br>연결안될때
Unicodeerror 유니코드 인코딩디코딩 에러<br>
valueerror 함수가 올바른데 값이 잘못됐을때<br>
zerodivisionerror 0으로 다른숫자를 나눌때<br>
fileexistserror 이미 존재하는 파일이나 디렉토리를 만들려할때<br>
filenotfounderoor 파일이나 디렉토리가 요청됐는데 존재 안 할때<br>
interruptedError 시스쳄 호출이 시그널에 의해 중단될때<br>
IsADirectoryError 디렉토리에 파일연산이 요청됐을때. 파일이 아니라 디렉토리에 연산시도할때<br>
NotADirectoryError 디렉토리가 아닌것에 디렉토리 연산 요청했을때 <br>
PermissionError 접근권없이 연산하려할때<br>
ProcessLockupError 주어진 프로세스가 없을때<br>
TimeoutError 시간초과할때 <br>
Warning 오류는 아니고 주의필요할떄

### 에러 예제

* ZeroDivisionError

In [1]:
10 / 0 # 분모가 0이 아니면 됨

ZeroDivisionError: ignored

* NameError

In [2]:
noname + 3 # noname 변수를 지정을 안해줌

NameError: ignored

* TypeError

In [3]:
'1' + 1 # 문자str에다 숫자int를 더하니 안됨

TypeError: ignored

* ValueError

In [4]:
int("String") # 숫자에 문자열을 집어넣으니 에러- base 10 십진수로 읽었는데 안되는거

ValueError: ignored

### 예외 처리(Exception Handling)

#### try, except 문

* try 문을 통해 예외 발생 가능한 코드에 정의
* except 문을 이용해 예외 처리 방법을 정의

In [5]:
try:
  print(2/0)
except:
  print("Error") # try서 에러나는 함수라서 except로 가서 출력됨

Error

#### 에러 분류에 따른 except 문

* `ZeroDivisionError`에 대한 except 처리

In [6]:
try:
  print(2/0)
except ZeroDivisionError:
  print("ZeroDivisionError")

ZeroDivisionError

#### 에러 메시지가 포함된 except 문

* `ZeroDivisionError`에 포함된 에러 메시지 `e`를 출력

In [7]:
try:
  print(2/0)
except ZeroDivisionError as e:
  print(e)

division by zero

#### 여러 에러 분류가 포함된 except 문

In [9]:
try:
  n = int(input("입력: "))
  result = 1 / n
except ZeroDivisionError as e: # 0은 여기에 걸림
  print(e)
except ValueError as e:
  print(e)
else:
  print("결과: " + str(result))

입력: 0
division by zero

In [8]:
try:
  n = int(input("입력: "))
  result = 1 / n
except ZeroDivisionError as e:
  print(e)
except ValueError as e: # %는 value 에러로뜸
  print(e)
else:
  print("결과: " + str(result))

입력: %
invalid literal for int() with base 10: '%'

In [10]:
try:
  n = int(input("입력: "))
  result = 1 / n
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)
else:
  print("결과: " + str(result)) # 4는 여기에 잘 걸림

입력: 4
결과: 0.25

### 에러 발생

#### raise 문

* 직접적으로 에러를 발생시킬 수 있음
* 에러의 종류와 에러 상황을 정의하고 발생

In [11]:
raise ZeroDivisionError("숫자를 0으로 나눔") # 에러 메세지 내용을 띄울수 있음

ZeroDivisionError: ignored

In [12]:
raise NameError("지역 또는 전역 이름을 찾을 수 없음")

NameError: ignored

In [13]:
raise TypeError("연산이나 함수가 부적절한 형의 객체에 적용")

TypeError: ignored

In [14]:
raise ValueError("연산이나 함수가 부적절한 값을 인자로 받음")

ValueError: ignored

#### assert 문

* raise 문과 달리 주로 검증을 위한 목적으로 작성
* 상태를 **검증**하는 목적으로 작성되며 검증식이 포함됨
* 검증식이 `False`일 경우 `AssertionError` 발생

In [15]:
assert True

In [16]:
assert False # 검증식이 펄스일 경우 어설쎤 에러가 나옴

AssertionError: ignored

In [17]:
assert False, "에러 메세지"

AssertionError: ignored

In [18]:
b = 0
assert b != 0, "상태에 따라서 발생" # assert문이 b가 0이면 false가 되니까 에러 메세지가 나옴

AssertionError: ignored

In [20]:
b = 1
assert b != 0, "상태에 따라서 발생" # b가 1이면 assert문의 b != 0에 트루가 되니 에러메세지 안뜨고 그냥 넘어감

개발하다가 이 값이 오면 안되는데 올수 있겠다. 그 값이 올때 메세지를 띄우려고 먼저 에러메세지를 띄워 검증하려고 rasie와 assert를 만드는것