# 함수(Function)



---

## 함수 기본

함수 개념
+ 특정값 X를 인자로 받고, 결과값을 반환: Y = f(X)
+ 함수가 필요할 때마다 호출 가능
+ 논리적인 단위로 분할 가능
+ 코드의 캡슐화(Capsulation) - 코드에서 어떤 역할에 따라 부분부분을 캡슐처럼 나눌수 있는데 그 역할에 맞는걸로 나눈다 해서 캡슐레이션이라 함
+ 중복되는 코드를 최소화 - 함수로 정해놓으면 다시 불러오기만 하면 됨
+ 소스코드의 재사용성을 높임 - 하나의 함수형태로 코드를 정리해놓으면 그것만으로 캡슐레이션이 되고 그것으로 어디서나 부를수 있기 때문에 재사용성이 높아짐

### 함수 선언

In [ ]:
함수선언문법

def 함수명(매개변수): # 디파인 함수명(함수에서 입력값으로 사용하는 변수=매개변수)
  <수행문>
  return <반환값>

* def: 정의(데피니션)의 줄임
* 함수명: 사용자가 임의로 지정
* 함수명 컨벤션(convention) -정해진 법칙이 아니라 우리가 통용할 룰
  + 짧고 명료한 이름
  + 소문자로 입력
  + 띄어쓰기는 `_` 기호 사용 (hello_world)
  + 동사와 명사를 함께 사용 (find_name)
* 매개변수(parameter): 함수에서 입력값으로 사용하는 변수
* 반환값: 함수에서 반환할 결과값 지정

### 매개변수(입력값)와 반환값(결과값)이 없는 함수

* 함수에 매개변수와 반환값이 없이 사용 가능
* 함수를 호출하면 함수의 수행문이 실행

In [3]:
def hello(): # 함수명을 hello라고 디파인 해줌. 매개변수(입력값)은 없음
  print("Hello Python") #함수명 hello를 입력하면 이런문장을 출력하라는 블럭을 만들어줌

hello() # hello 함수를 "호출"했더니 hello python 문장이 잘 나옴

Hello Python

### 매개변수만 있는 함수

* 문자열 매개변수를 사용한 함수

In [5]:
def hello(string): # 스트링이 매개변수
  print("Hello", string) # 반환값이 없음(리턴값)

hello("Python") # 여기서 Python이 첫문장의 string으로 들어가고 두번째 문장의 print 문에서 출력이 되는것. 
# 그래서 뭘 치든 Hello는 무조건 나오는 거고 그 뒤에 매개변수로 쓴 스트링값이 출력됨.

Hello Python

### 반환 값만 있는 함수

* 문자열 반환 값을 사용한 함수

In [6]:
def hello(): # 매개변수 없음
  return "Hello Python" # 헬로 파이썬이 반환값

hello()  # hello를 호출하면 리턴 문장이 그대로 나오게 됨

'Hello Python'

### 매개변수와 반환 값이 있는 함수

* 정수형 매개변수와 반환 값을 사용한 함수

In [8]:
def square(num): # num 이 매개변수임
  return num * num  # num * num 이 반환값임

square(5)

25

### 매개변수가 여러개 있는 함수

* 정수형 매개변수 여러개를 사용한 함수
* 매개변수를 지정하여 호출 가능

In [10]:
def add(n1, n2):
  return n1 + n2

print(add(5, 8)) # n1 5, n2 8로 자동으로 지정됨
print(add(n2 = 5, n1 = 8)) # 임의로 지정을 바꿀수도 있음 n1 8, n2 5

13
13

### 키워드 매개변수

* 함수의 매개변수를 변수명을 지정하여 호출 가능

In [11]:
def add(n1, n2):
  return n1 + n2

print(add(n2 = 5, n1 = 8))

13

### 가변 매개변수

* 매개변수가 몇 개인지 알 수 없을 때 사용
* 매개변수 앞에 '*'을 표시

In [14]:
def sum(*args): # 아규먼트
  result = 0
  for i in args: # 아규먼트로 들어온만큼 반복
    result = result + i
  return result # 반복 다 돌았으면 리설트로 반환

print(sum(1, 2, 3))
print(sum(1, 2, 3, 4, 5))

6
15

In [15]:
def sum(*args): # 아규먼트
  result = 0
  for i in args: # 아규먼트로 들어온만큼 반복
    print(i)

print(sum(1, 2, 3)) # 여기에 1,2,3dl for문의 args로 들어가서 하나씩 프린트 되는 것임
print(sum(1, 2, 3, 4, 5))

1
2
3
None
1
2
3
4
5
None

### 가변 키워드 매개변수

* 매개변수의 이름을 따로 지정하지 않고 사용
* 매개변수 앞에 '**'을 표시

In [20]:
def print_kwargs(**kwargs): # 키워드 아규먼츠
  print(kwargs)

print_kwargs(n1 = 5, n2 = 8)
print_kwargs(id = "Suan", pw = "1234")
# 타입 출력해보면 딕셔너리임. 키 밸류 키 밸류 형태로 잘 받아옴.

{'n1': 5, 'n2': 8}
{'id': 'Suan', 'pw': '1234'}

### 초기값 매개변수

* 매개변수에 초기값을 설정하여 사용
* 함수에 매개변수를 사용하지 않을 때 초기값을 사용

In [24]:
def power(b = 2, n = 2):
  return pow(b, n)

print(power()) # 2의 2승
print(power(3)) # 파라미터 두갠데 하나만 넣음. 앞의 파라미터로 들어감. 3의 2승
print(power(5, 2)) # 5의 2승
print(power(n = 3)) # n만 바꿔줌

4
9
25
8

### 여러 반환 값이 있는 함수

* 함수의 반환값은 하나
* 여러 반환값을 사용할 경우 튜플 형태로 반환

In [26]:
def plus_and_minus(n1, n2):
  return n1 + n2, n1 - n2

result = plus_and_minus(8, 5)
print(result) 
# 반환값이 여러개면 튜플형태임

result1, result2 = plus_and_minus(8, 5)
print(result1, result2)

(13, 3)
13 3

### [Lab] 계산기 함수

* 두 수에 대해서 덧셈, 뺄셈, 곱셈, 나눗셈을 수행하는 함수

In [30]:
def calc(op, n1, n2): # op는 오퍼레이터, 연산기호
  result = 0
  if op == '+':
    result = n1 + n2
  elif op == '-':
    result = n1 - n2
  elif op == '*':
    result = n1 * n2
  elif op == '/':
    result = n1 / n2

  return result

print(calc('+', 8, 5)) # 위에서 한번 계산기 함수를 잘 정의해 놓으면 호출만 하면 돼서 편함.
print(calc('*', 8, 5))

13
40

### [Lab] 가변 매개변수의 평균값 계산

* 가변 매개변수로 들어오는 모든 수의 평균값 계산

In [31]:
def avg(*args):
  sum = 0
  for i in args:
    sum += i
  return (sum / len(args))

print(avg(1, 2, 3, 4, 5))

3.0



---

## 변수의 유효범위

### 유효 범위

* 변수는 유효한 범위가 존재 - 이 변수가 어디까지 영향을 줄 수 있는지 특징
* 함수 안에서 선언된 변수는 함수 내부에서 유효함

In [32]:
def var_scope(a):
  a = a + 1

a = 10
var_scope(a)
print(a) # a가 10이고 var_scope 함수로 들어가서 a+1이 돼서 a는 11이 돼서 11이 출력되어야 하는데 10이 출력됨. 뭐지?
# 이게 우리가 말한 그 scope임. 위에 블럭 아래 블럭 같은 a라도 전혀 다른 메모리 위치값을 가짐. 
# 밑의 a가 def 에 전달은 되는데 위 아래 a가 다름. 프린트로 출력한 a는 그냥 밑에 있는거 출력함.

10

### 변수의 종류

* 지역 변수: 한정된 지역에서만 사용되는 변수
* 전역 변수: 프로그램 전체에서 사용되는 변수

In [35]:
a = 10
def func1():
  a = 20 # 펑션1 `안에서만 사용되는` 지역변수
  print(a) # 20이 출력이 됨

def func2(): #여기는 정의되어있는 a가 없음
  print(a) # `맨위에 있는 a=10 전역변수`를 출력을 해줌

func1()
func2()

20
10

### 전역 변수 사용 global

* 함수 내부에서 전역 변수를 사용하기 위한 `global` 키워드

In [36]:
a = 10
def func1():
  global a # a라는 전역변수를 사용할래 라고 아예 줘버림.
  a = 20  # 거기에 20 넣을래
  print(a)  #출력할래

def func2(): # 여기 a는 전역변수에 대한 a임
  print(a) # 따라서 20임  

func1()
func2()

20
20



---

## 함수 심화

### 내부 함수(Nested Function)

* 함수 안에 함수가 존재
* 내부 함수는 외부에서 호출 불가

In [4]:
def func1(n1, n2):
  def func2(num1, num2):
    return num1 + num2
  return func2(n1, n2)

print(func1(5, 8))
# 5, 8이 들어온걸 n1 n2에다 넣고 그게 다시 num1, num2로 들어감

13

In [7]:
def func1(n1, n2):
  def func2(num1, num2):
    return num1 + num2
  return func2(n1, n2)

print(func1(5, 8))
print(func2(5, 8))
# 똑같은 식인데 func2로 호출하면 오류남. func2는 내부함수임

13

NameError: ignored

### 재귀 함수(Recursive Function)

* 함수가 자기 자신을 다시 부르는 함수
* `count()` 함수 내부에서 `count()` 함수를 호출
* 재귀적으로 카운트 수를 출력

In [9]:
def count(n): # 10을 파라미터로 넣음
  if n >= 1: # n이 10 이상임
    print(n, end=' ') # 10과 공백을 출력함
    count(n - 1) #10-1=9를 다시 맨위 디파인 카운트 (n)에 넣어줌. And so on 1까지.
  else:    # 0이 되면 그냥 리턴
    return # 그냥 종료
  
count(10)

10 9 8 7 6 5 4 3 2 1

#### [Lab] 재귀 함수를 이용한 합계

* `sum()` 함수 내부에서 `sum()` 함수를 호출
* 재귀적으로 합계를 계산

In [11]:
def sum(n):
  if n == 1: #10은 1이 아니니 else문으로 넘어감
    return 1
  else:
    return n + sum(n-1) # 10 + (n-1=9), n이 9가됨, 현재 10+9=19임.
                        # n=9가 다시 디파인에 들어가서 -1해서 n=8되고 19에 8이 더해지고
                        # 다시 또 n=8이 디파인에 들어가서 8-1=7되서 27+7 돼서 34됨.
                        # 다시 7-1 =6 돼서 디파인에 들어감 2까지 그렇게되고
                        # 1이 되면 if문으로 들어가서 1이 되고 끝.

print(sum(10))
print(sum(100))

55
5050

#### [Lab] 팩토리얼 함수(Factorial Function)

* 팩토리얼(factorial) 함수는 대표적인 재귀 함수
* 팩토리얼 함수: $n!=1 \times 2 \times 3 \dots (n-2) \times (n-1) \times n = n! = n \times (n-1)!$

In [14]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(3))
print(factorial(5))
print(factorial(10))

6
120
3628800

### 람다 함수(Lambda Function)

* 함수를 한 줄로 간결하게 만들어 사용

In [18]:
def add(n1, n2):
  return n1 + n2

print(add(5, 8)) # 이 식을 람다라는 형태로 표현하는것

add2 = lambda n1, n2 : n1 + n2 # 램다 함수 적용하는 법. 간결하에 만들기 좋아서 알아두면 좋음
print(add2(5, 8))

13
13

#### map()

* `map()`: built-in 함수로 list 나 dictionary 와 같은 iterable 한 데이터를 인자로 받아 list 안의 개별 item을 함수의 인자로 전달하여 결과를 list로 형태로 반환해 주는 함수
* 람다 함수와 `map()` 함수를 이용한 리스트 계산

In [20]:
li = [1, 2, 3, 4, 5]
square = lambda n : n * n
li = list(map(square, li)) # 맵 안에 정의했던 램다함수 스퀘어를 넣어버림. li를 재정의한것임
print(li) # 스퀘어한 결과를 넣은 리스트(li) 값을 다시 li에 넣어줌. 그것을  출력함

[1, 4, 9, 16, 25]

In [22]:
li_1 = [1, 2, 3, 4, 5]
li_2 = [6, 7, 8, 9, 10]
li = list(map(lambda n_1, n_2 : n_1 + n_2, li_1, li_2)) # li1의 값은 n1 li2의 값은 n2로 각각 지정돼서 나오는 것.
print(li)

[7, 9, 11, 13, 15]

### filter()

* `filter()` 함수: iterable 한 데이터를 인자로 개별 item을 특정 조건에 해당하는 값으로만 필터링
* 람다 함수와 `filter()` 함수를 이용한 리스트 필터링

In [25]:
li = list(range(10))
print(li)
evens = filter(lambda n : n % 2 is 0, li) #짝수의 조건
print(list(evens))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

### reduce()

* reduce() 함수: iterable 한 데이터를 인자로 받아 개별 item을 축약하여 **하나의 값**으로 만들어 가는 과정
* 람다 함수와 reduce() 함수를 이용한 리스트 계산

In [30]:
import functools
li = list(range(10))
print(li)
sum = functools.reduce(lambda x, y: x + y, li)
print(sum)
sum = functools.reduce(lambda x, y: x + 1, li, 0) # x를 처음에 0으로 셋팅해줘서 0,1,2,3,~ 가 되는것임
print(len)
max = functools.reduce(lambda x, y: x if x > y else y, li)
print(max)

# 전체적으로 y값은 고려 안하는듯. x값만 레인지에서 가져오고 y는 노상관

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45
<built-in function len>
9

## 제너레이터(generator)와 yield

* 함수 안에서 yield를 사용하면 제너레이터
* yield: 함수를 끝내지 않고 값을 계속 반환

In [31]:
def gen():
  yield 1
  yield 2
  yield 3

print(gen())
print(list(gen()))

<generator object gen at 0x7fea4200edd0>
[1, 2, 3]

In [33]:
for i in gen(): # 제너레이터가 함수를 끝내지 않고 계속 반환함 = range와 같은 역할을 하는것임
  print(i)

1
2
3

In [34]:
g = gen()
print(next(g))
print(next(g))
print(next(g))

1
2
3

### [Lab] 짝수만 생성하는 제너레이터

* 0 ~ n개의 숫자 중에서 짝수만 생성하는 제너레이터 함수 생성

In [40]:
def gen_even(n):
  for i in range(n):
    if i % 2 == 0:
      yield i # yield 1(one)으로 해서 어쩐지 1만 5개가 나오더라...

for i in gen_even(10):
  print(i)

0
2
4
6
8